<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="706779b1-bfc8-4225-92f8-63c0f154d0c0" Alias="commerce" Level="3">
  <Info>
    <Name>Commerce</Name>
    <Icon>icon-coins-pound-alt color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Fragments/Settings</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>