<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="f503a1a3-68e1-46d9-8f77-c3bd78cc8ada" Alias="featuredCategoryBlock" Level="3">
  <Info>
    <Name>Featured Category</Name>
    <Icon>icon-bookmark color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <Folder>Fragments/Blocks</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>9846c997-3346-425e-89c2-6a89a2b5a788</Key>
      <Name>Category</Name>
      <Alias>category</Alias>
      <Definition>2853c751-4a32-4e08-82a7-72c3f2c3f92b</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
    </GenericProperty>
    <GenericProperty>
      <Key>bf1d319e-ce84-4313-990b-fc9ff898803d</Key>
      <Name>Image</Name>
      <Alias>image</Alias>
      <Definition>af9b5cd4-2c52-4183-955a-d3cf7c5af392</Definition>
      <Type>Umbraco.MediaPicker</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Content</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>