<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="fadb2dca-028f-4b9b-a19e-28f4ba2288dd" Alias="homePage" Level="2">
  <Info>
    <Name>Home Page</Name>
    <Icon>icon-home color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="803a679f-e1f1-4d13-8b20-031c16d228d8">basePage</Composition>
      <Composition Key="b0eadbc0-80a0-4d1c-8fca-47362b26e1cd">contentTab</Composition>
    </Compositions>
    <DefaultTemplate>HomePage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="591dfbc1-e5ab-42ed-9039-9048c290b269">HomePage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="3ffa018e-e6ee-4e76-ba36-4a3a631c1693" SortOrder="0">shopPage</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>80b7e185-d338-4f20-b6a6-7d84522438c6</Key>
      <Name>Background Image</Name>
      <Alias>heroBannerBackgroundImage</Alias>
      <Definition>af9b5cd4-2c52-4183-955a-d3cf7c5af392</Definition>
      <Type>Umbraco.MediaPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Hero Banner</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
    </GenericProperty>
    <GenericProperty>
      <Key>e23cfba6-5b41-4921-88a5-2e2f5ecd4de5</Key>
      <Name>Link</Name>
      <Alias>heroBannerLink</Alias>
      <Definition>6380833c-5db1-45b7-be66-47929eb6c82c</Definition>
      <Type>Umbraco.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab>Hero Banner</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
    </GenericProperty>
    <GenericProperty>
      <Key>2684733d-3294-4d92-8953-5a32f75bfc2d</Key>
      <Name>Tagline</Name>
      <Alias>heroBannerTagline</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Hero Banner</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
    </GenericProperty>
    <GenericProperty>
      <Key>8c6a6010-9787-4484-adda-e1eca617ef66</Key>
      <Name>Title</Name>
      <Alias>heroBannerTitle</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Hero Banner</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Hero Banner</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>