<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="e1903bcd-550f-4171-98b7-b001c21a626e" Alias="productCategories" Level="4">
  <Info>
    <Name>Product Categories</Name>
    <Icon>icon-tags color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Fragments/Shared+Content/Categories</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="b00053d7-2cb3-420c-82da-01478c56356f" SortOrder="0">productCategory</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>