<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="f68ca814-4fd5-4cb8-be0f-6b985486e3b7" Alias="settings" Level="3">
  <Info>
    <Name>Settings</Name>
    <Icon>icon-settings-alt color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Fragments/Settings</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="706779b1-bfc8-4225-92f8-63c0f154d0c0" SortOrder="0">commerce</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>