<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="6b5d7072-276f-4797-aae9-903575c85b90" Alias="sharedContent" Level="3">
  <Info>
    <Name>Shared Content</Name>
    <Icon>icon-axis-rotation-2 color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Fragments/Shared+Content</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="e1903bcd-550f-4171-98b7-b001c21a626e" SortOrder="0">productCategories</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>