<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="3ffa018e-e6ee-4e76-ba36-4a3a631c1693" Alias="shopPage" Level="2">
  <Info>
    <Name>Shop Page</Name>
    <Icon>icon-pound-bag color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="803a679f-e1f1-4d13-8b20-031c16d228d8">basePage</Composition>
    </Compositions>
    <DefaultTemplate>ShopPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="f8deaa81-9194-4e37-860a-591b582354b7">ShopPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="a4c85c40-2a1d-4ff5-8346-d081838f0d6f" SortOrder="0">productPage</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>