<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="d9384576-e6a8-4ef2-8ca8-475ee6e7546d" Alias="vendrCheckoutCheckoutStepPage" Level="2">
  <Info>
    <Name>[Vendr Checkout] Checkout Step Page</Name>
    <Icon>icon-settings-alt color-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>d2af4d26-78f4-4932-a7e1-2246a6eb2911</Key>
      <Name>Short Step Name</Name>
      <Alias>vendrShortStepName</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[A short name for this step to display in the checkout navigation.]]></Description>
      <SortOrder>10</SortOrder>
      <Tab>Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
    </GenericProperty>
    <GenericProperty>
      <Key>ae86c66c-f04c-452f-b4a7-fba11db60814</Key>
      <Name>Step Type</Name>
      <Alias>vendrStepType</Alias>
      <Definition>654a2147-2559-4b3f-93ee-a6925f45c173</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The checkout step to display for this step of the checkout flow.]]></Description>
      <SortOrder>20</SortOrder>
      <Tab>Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Settings</Caption>
      <SortOrder>100</SortOrder>
    </Tab>
  </Tabs>
</ContentType>