<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="55f4b88e-69b6-45a4-bc4f-d48f35f6b904" Alias="vendrCheckoutBasePage" Level="1">
  <Info>
    <Name>[Vendr Checkout] Page</Name>
    <Icon>icon-folder</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>