<?xml version="1.0" encoding="utf-8"?>
<DataType Key="654a2147-2559-4b3f-93ee-a6925f45c173" Alias="Checkout Step" Level="3">
  <Info>
    <Name>Checkout Step</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>Project+Specific/Commerce</Folder>
  </Info>
  <Config><![CDATA[{
  "Multiple": false,
  "Items": [
    {
      "id": 1,
      "value": "Information"
    },
    {
      "id": 2,
      "value": "ShippingMethod"
    },
    {
      "id": 3,
      "value": "PaymentMethod"
    },
    {
      "id": 4,
      "value": "Review"
    },
    {
      "id": 5,
      "value": "Payment"
    },
    {
      "id": 6,
      "value": "Confirmation"
    }
  ]
}]]></Config>
</DataType>