<?xml version="1.0" encoding="utf-8"?>
<DataType Key="0fd1bb2f-d876-4a1b-a3e7-40e0746dcecc" Alias="Featured Category Block List" Level="3">
  <Info>
    <Name>Featured Category Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Project+Specific/Blocks</Folder>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": null,
      "contentElementTypeKey": "f503a1a3-68e1-46d9-8f77-c3bd78cc8ada",
      "settingsElementTypeKey": null,
      "view": null,
      "stylesheet": null,
      "label": "{{title ? title : 'Featured Category'}}",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    }
  ],
  "ValidationLimit": {
    "min": null,
    "max": null
  },
  "UseLiveEditing": false,
  "UseInlineEditingAsDefault": true,
  "MaxPropertyWidth": null
}]]></Config>
</DataType>