<?xml version="1.0" encoding="utf-8"?>
<DataType Key="af9b5cd4-2c52-4183-955a-d3cf7c5af392" Alias="Image Picker" Level="3">
  <Info>
    <Name>Image Picker</Name>
    <EditorAlias>Umbraco.MediaPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Project+Specific/Pickers</Folder>
  </Info>
  <Config><![CDATA[{
  "Multiple": false,
  "OnlyImages": true,
  "DisableFolderSelect": false,
  "StartNodeId": null,
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>