<?xml version="1.0" encoding="utf-8"?>
<DataType Key="4d79cda1-7fac-42c3-8c50-be4625cb24cf" Alias="Main Content Block List" Level="3">
  <Info>
    <Name>Main Content Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Project+Specific/Blocks</Folder>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": "#2986cc",
      "iconColor": "#ffffff",
      "thumbnail": null,
      "contentElementTypeKey": "50c47e10-191c-4a7c-900e-6cb0cda43953",
      "settingsElementTypeKey": null,
      "view": null,
      "stylesheet": null,
      "label": "{{title ? title : 'Featured Categories'}}",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    }
  ],
  "ValidationLimit": {
    "min": null,
    "max": null
  },
  "UseLiveEditing": false,
  "UseInlineEditingAsDefault": true,
  "MaxPropertyWidth": null
}]]></Config>
</DataType>