<?xml version="1.0" encoding="utf-8"?>
<DataType Key="ff2c3e63-aa39-43dc-9562-1fa12e2a3bf5" Alias="Multiple Product Category Picker" Level="3">
  <Info>
    <Name>Multiple Product Category Picker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Project+Specific/Pickers</Folder>
  </Info>
  <Config><![CDATA[{
  "TreeSource": {
    "type": "content",
    "query": "$site/sharedContent/productCategories",
    "id": null
  },
  "Filter": "productCategory",
  "MinNumber": 0,
  "MaxNumber": 0,
  "ShowOpen": true,
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>