<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c8685030-8a53-4e5d-b244-f5139744ac72" Alias="Multiple Image Picker" Level="3">
  <Info>
    <Name>Multiple Image Picker</Name>
    <EditorAlias>Umbraco.MediaPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Project+Specific/Pickers</Folder>
  </Info>
  <Config><![CDATA[{
  "Multiple": true,
  "OnlyImages": true,
  "DisableFolderSelect": false,
  "StartNodeId": null,
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>