<?xml version="1.0" encoding="utf-8"?>
<DataType Key="2853c751-4a32-4e08-82a7-72c3f2c3f92b" Alias="Product Category Picker" Level="3">
  <Info>
    <Name>Product Category Picker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Project+Specific/Pickers</Folder>
  </Info>
  <Config><![CDATA[{
  "TreeSource": {
    "type": "content",
    "query": "$site/sharedContent/productCategories",
    "id": null
  },
  "Filter": "productCategory",
  "MinNumber": 0,
  "MaxNumber": 1,
  "ShowOpen": true,
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>