<?xml version="1.0" encoding="utf-8"?>
<DataType Key="6380833c-5db1-45b7-be66-47929eb6c82c" Alias="Single URL Picker" Level="1">
  <Info>
    <Name>Single URL Picker</Name>
    <EditorAlias>Umbraco.MultiUrlPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MinNumber": 0,
  "MaxNumber": 1,
  "IgnoreUserStartNodes": false,
  "HideAnchor": false
}]]></Config>
</DataType>