<?xml version="1.0" encoding="utf-8"?>
<DataType Key="e2778463-0768-46e7-9627-49fe076ed288" Alias="Sitemap Display" Level="3">
  <Info>
    <Name>Sitemap Display</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>Project+Specific/Dropdowns</Folder>
  </Info>
  <Config><![CDATA[{
  "Multiple": false,
  "Items": [
    {
      "id": 1,
      "value": "Exclude Self"
    },
    {
      "id": 2,
      "value": "Exclude Self and Children"
    }
  ]
}]]></Config>
</DataType>