<?xml version="1.0" encoding="utf-8"?>
<DataType Key="2700505c-a48a-4162-ae38-78d7f7bb7749" Alias="Store Picker" Level="3">
  <Info>
    <Name>Store Picker</Name>
    <EditorAlias>Vendr.StorePicker</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>Project+Specific/Commerce</Folder>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>