<?xml version="1.0" encoding="utf-8"?>
<DataType Key="46322397-3b7b-4d53-a5db-a1b17553d397" Alias="[Vendr Checkout] Theme Color Picker" Level="1">
  <Info>
    <Name>[Vendr Checkout] Theme Color Picker</Name>
    <EditorAlias>Umbraco.ColorPicker</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "UseLabel": false,
  "Items": [
    {
      "id": 0,
      "value": "{\"value\":\"000000\", \"label\":\"black\"}"
    },
    {
      "id": 1,
      "value": "{\"value\":\"f56565\", \"label\":\"red-500\"}"
    },
    {
      "id": 2,
      "value": "{\"value\":\"ed8936\", \"label\":\"orange-500\"}"
    },
    {
      "id": 3,
      "value": "{\"value\":\"ecc94b\", \"label\":\"yellow-500\"}"
    },
    {
      "id": 4,
      "value": "{\"value\":\"48bb78\", \"label\":\"green-500\"}"
    },
    {
      "id": 5,
      "value": "{\"value\":\"38b2ac\", \"label\":\"teal-500\"}"
    },
    {
      "id": 6,
      "value": "{\"value\":\"4299e1\", \"label\":\"blue-500\"}"
    },
    {
      "id": 7,
      "value": "{\"value\":\"667eea\", \"label\":\"indigo-500\"}"
    },
    {
      "id": 8,
      "value": "{\"value\":\"9f7aea\", \"label\":\"purple-500\"}"
    },
    {
      "id": 9,
      "value": "{\"value\":\"ed64a6\", \"label\":\"pink-500\"}"
    }
  ]
}]]></Config>
</DataType>