<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c7ae8fbf-de8b-4f6a-812c-bf0d16a397b5" Alias="Vendr: Price" Level="3">
  <Info>
    <Name>Vendr: Price</Name>
    <EditorAlias>Vendr.Price</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Project+Specific/Commerce</Folder>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>